* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1366px;
}

/* === nav bar ===*/
.navbar-nav .active {
  background: #ffe14d;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: black;
}

.navbar-collapse .navbar-nav li:hover {
  background: #ffe14d;
}

/* === form login and register === */
.loginForm {
  margin: 30px auto;
  width: 350px;
  height: 600px;
  text-align: center;
  position: relative;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

.loginForm:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/wp9322370-chill-4k-wallpapers.jpg");
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  box-sizing: border-box;
}

.loginForm h2 {
  padding-top: 100px;
  padding-bottom: 40px;
}

.loginForm h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  margin-left: 100px;
  background: #f1ce52;
  position: absolute;
}

.loginForm input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}

.loginForm input:focus {
  box-shadow: 5px 5px 2px 2px #f1ce52;
}

.loginForm button {
  width: 30%;
  height: 30px;
  color: black;
  background: #ffe14d;
  border: 1px solid #ffe14d;
  border-radius: 5px;
  transition: 0.3s all;
}

.loginForm button:hover {
  color: white;
  background: black;
  border: 1px solid black;
}

#registerBtn button {
  margin-top: 10px;
}

.alert ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alert ul li {
  font-size: 14px;
  margin-top: 5px;
  color: white;
}

/*=== banner - carousel - slider su dung swiper ===*/
.banner .swiper-slide {
  position: relative;
}
.banner .swiper-slide .slide-image-banner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 35%;
}
.banner .swiper-slide .slide-image-banner .image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner .swiper-slide .slide-image-banner .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.banner .swiper-slide .content-banner {
  position: absolute;
  text-align: center;
  top: 30%;
  margin: 0 20%;
}
.banner .swiper-slide .content-banner .title {
  text-transform: uppercase;
  font-size: 45px;
}
.banner .swiper-slide .content-banner .title h2 {
  color: white;
  margin-bottom: 0;
}
.banner .swiper-slide .content-banner .title h2 span {
  font-weight: 700;
  color: yellow;
}
.banner .swiper-slide .content-banner .subtitle {
  color: white;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-block {
  background-image: url("../images/contact.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in;
}
.main-block .contact-form {
  width: 650px;
  margin: 20px auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.main-block .contact-form h4 {
  padding-top: 30px;
}
.main-block .contact-form .info input[type=text] {
  width: 210px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-left: 5px;
}
.main-block .contact-form .info textarea {
  width: 98%;
  margin-bottom: -15px;
  border-radius: 5px;
  resize: none;
  padding-left: 5px;
}
.main-block .contact-form .info button[type=submit] {
  padding: 5px 40px;
  border-radius: 5px;
  transition: 1s all;
}
.main-block .contact-form .info button[type=submit]:hover {
  background: #ffe14d;
}

#content {
  height: 600px;
}

/*gio hang - shopping cart */
.shopping-cart {
  padding: 0px 30px 30px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-top: -45px;
  /* Global "table" column settings */
  /* This is used as the traditional .clearfix class */
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  /* Column headers */
  /* Product entries */
  /* Totals section */
}
.shopping-cart h1 {
  font-weight: 100;
}
.shopping-cart label {
  color: #aaa;
}
.shopping-cart .product-image {
  float: left;
  width: 20%;
}
.shopping-cart .product-details {
  float: left;
  width: 37%;
}
.shopping-cart .product-price {
  float: left;
  width: 12%;
}
.shopping-cart .product-quantity {
  float: left;
  width: 10%;
}
.shopping-cart .product-removal {
  float: left;
  width: 9%;
}
.shopping-cart .product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}
.shopping-cart .group:before, .shopping-cart .shopping-cart:before, .shopping-cart .column-labels:before, .shopping-cart .product:before, .shopping-cart .totals-item:before,
.shopping-cart .group:after,
.shopping-cart .shopping-cart:after,
.shopping-cart .column-labels:after,
.shopping-cart .product:after,
.shopping-cart .totals-item:after {
  content: "";
  display: table;
}
.shopping-cart .group:after, .shopping-cart .shopping-cart:after, .shopping-cart .column-labels:after, .shopping-cart .product:after, .shopping-cart .totals-item:after {
  clear: both;
}
.shopping-cart .group, .shopping-cart .shopping-cart, .shopping-cart .column-labels, .shopping-cart .product, .shopping-cart .totals-item {
  zoom: 1;
}
.shopping-cart .product .product-price:before, .shopping-cart .product .product-line-price:before, .shopping-cart .totals-value:before {
  content: "$";
}
.shopping-cart .column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.shopping-cart .column-labels .product-image, .shopping-cart .column-labels .product-details, .shopping-cart .column-labels .product-removal {
  text-indent: -9999px;
}
.shopping-cart .product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.shopping-cart .product .product-image {
  text-align: center;
}
.shopping-cart .product .product-image img {
  width: 100px;
}
.shopping-cart .product .product-details .product-title {
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}
.shopping-cart .product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.shopping-cart .product .product-quantity input {
  width: 40px;
}
.shopping-cart .product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border-radius: 3px;
}
.shopping-cart .product .remove-product:hover {
  background-color: #a44;
}
.shopping-cart .totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.shopping-cart .totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.shopping-cart .totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.shopping-cart .totals .totals-item-total {
  font-family: "Roboto", sans-serif;
}
.shopping-cart .checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}
.shopping-cart .checkout:hover {
  background-color: #494;
}

/** motobike **/
.pageBody .motobike:nth-child(2) {
  padding-top: 0;
}
.pageBody .motobike:nth-child(2) .titlepage p {
  text-align: right;
}

.motobike {
  background-color: #f6f6f6;
  padding: 90px 0;
}
.motobike .titlepage h2 {
  text-align: center;
  max-width: inherit;
  border: inherit;
  color: #000;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: -20px;
}
.motobike .titlepage p {
  padding: 30px 0;
  line-height: 1.8;
  color: #000;
}
.motobike .titlepage .read-more {
  float: right;
}
.motobike .motobike_img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  transition: 0.3s all linear;
}
.motobike .motobike_img .motobike_img__link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.motobike .motobike_img .motobike_img__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.motobike .motobike_img .motobike_img__btn {
  position: absolute;
  z-index: 1;
  top: 85%;
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 15px 25px;
  background-color: #ffe14d;
  color: black;
}
.motobike .motobike_img .motobike_img__btn:hover {
  background-color: rgb(229, 209, 120);
  transform: translateY(-10%);
}

.product-form {
  margin-bottom: 4em;
}
.product-form .product-images {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 70%;
}
.product-form .product-images .product-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.product-form .product-images .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-form h3 {
  color: #017143;
  margin-bottom: 0;
  font-size: 1em;
}
.product-form .product-name {
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}
.product-form .add-to-cart {
  padding: 10px 20px;
  background-color: #ffe14d;
}
.product-form .add-to-cart:hover {
  background-color: rgb(229, 209, 120);
}

/*# sourceMappingURL=main.css.map */
